* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
list-style: none;
}

#shell {
  background-color: #295175;
  height: auto;
  max-width: 300px;
  margin: 10% auto
}

.calculate {
  background-color: #00872F;
  color: white;
}

#result {
  text-align: right;
  background-color: red;
  height: 80px;
  vertical-align: baseline;
}

.operator {
  background-color: orange;
  color: white;
}

button {
  height:50px;
}
